body{
  margin: 0;
  width: 100%;
  height: 100vh;

  background: white;
  background-image:
    radial-gradient(
      circle at bottom left,
      red 0%,
      rgb(255, 82, 62) 15%,
      rgb(249, 133, 120) 25%,
      white 60%
    );
  color: black;
}

@font-face {
    font-family: "Archivo Black";
    src: url("/fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

@font-face {
    font-family: "Space Mono";
    src: url("/fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf");
}

.home-container{
  padding: 4%;
  box-sizing: border-box;

  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 8%;
}

header{
  display: flex;
  flex-direction: column;
  align-items: start;
}

header h1{
  margin: 0;
  font-size: 1.25rem;
  font-family: "Space Mono"; 
}

header p{
  margin: 0;
  justify-self: center;  
  font-family: "Archivo Black", sans-serif; 
  font-size: 3.5rem;
  font-weight: 700;
}

#content-body{
  width: 100%;
  margin-top: 3%;
}

.hw-grid{
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: 4%;
  align-items: start;
}

.homework-block{
  min-height: 50vh;
  border-left: 0.25vw solid black;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 8%;
  font-family: "Space Mono"; 
}


.homework-block h2{
  margin: 0 0 5% 0;
  font-size: 1.6rem;
  white-space: nowrap;   
}

.homework-block a{
  padding-left: 12%; 
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  margin: 5% 0;
}

.homework-block a:hover,
.dropdown button:hover{
  text-decoration: underline;
  cursor: pointer;
}

#team-section{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5% 7% 0 0;
  gap: 6%;
  white-space: nowrap;
}

#team-section h3{
  margin: 0;
  font-size: 1.25rem;
  font-family: "Archivo Black";
}

#team-section ul{
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 20%;
  font-family: "Space Mono"; 
}

#team-section ul li a{
    color: rgb(224, 0, 0);
}


.dropdown{
  position: relative;
}

.dropdown-menu{
  display: none;
}

.dropdown.open .dropdown-menu{
  display: block;
}

.homework-block .dropdown button{
  background: none;
  border: none;
  color: black;
  font-size: 1.1rem;
  font-family: "Space Mono"; 
  padding-left: 12%; 
  margin: 5% 0;
  cursor: pointer
}

.homework-block .dropdown-menu a{
  display: block; 
  font-size: 0.8rem;
  font-family: "Archivo"; 
  font-weight: 400;
  padding-left: 15%; 
  cursor: pointer
}

.homework-block .dropdown-menu a:hover{
  color: rgb(224, 0, 0);
}