
main{
    display: grid;
    grid-template-areas: 
            "report-title report-title"
            "card-one     card-two";
    grid-template-columns: 30% 70%;
    gap: 1.5%;
}

h1{
    grid-area: report-title;
    margin: 0;
}

section{
    width: fit-content;
}

#performance-load-time{
    grid-area: card-one;
}

#performance-load-over-time{
    grid-area: card-two;
}