
main{
    display: grid;
    grid-template-areas: 
            "report-title pdf-button"
            "analyst-card analyst-card"
            "card-one     card-two";
    grid-template-columns: minmax(0, 35%) minmax(0, 1fr);
    gap: 5%;
    padding: 0% 4% 0% 0.5%;
}

h1{
    grid-area: report-title;
    margin: 0;
}

.pdf-button{
    grid-area: pdf-button;
    justify-self: end;
    display: inline-flex;
    align-items: center;
}

section{
    min-width: 0;
    width: 100%;

    height: fit-content;
}

#perfChart{
    width: 100% !important;
    max-width: 100%;
}

#performance-analyst-comments{
    grid-area: analyst-card;
    place-self: start;
}

#performance-load-time{
    grid-area: card-one;
}

#performance-load-over-time{
    grid-area: card-two;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

